<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('main_home') }}">
            <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List logo" width="30" height="24" class="d-inline-block align-text-top">
            Bucket-List
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('wish_list') }}">Wish list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('wish_create') }}">Create a Wish list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('main_about') }}">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
