{% extends 'base.html.twig' %}

{% block body %}

    <div class="card text-center">
        <div class="card-header">
            Souhait n°{{ wish.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ wish.title }}</h5>
            <p class="card-text">{{ wish.description }}</p>
            <a href="#" class="btn btn-primary">J'ai réalisé ce souhait !</a>
        </div>
        <div class="card-footer text-body-secondary">
            Créé par {{ wish.author }} le {{ wish.dateCreated | date('d/m/Y') }} à {{ wish.dateCreated | date('H:i') }}
            {% if wish.dateUpdated %}
                <p>Modifié le {{ wish.dateUpdated | date('d/m/Y') }} à {{ wish.dateUpdated| date('H:i') }}</p>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Detail
{% endblock %}

